/* styles.css */

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .navbar, .dark-mode .footer {
    background-color: #1f1f1f;
    color: #ffffff;
}

.dark-mode a {
    color: #bb86fc;
}

.dark-mode .btn-secondary {
    background-color: #bb86fc;
    border: none;
}
