/* styles.css */

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .navbar, .dark-mode .footer {
    background-color: #1f1f1f;
    color: #ffffff;
}

.dark-mode a {
    color: #bb86fc;
}

.dark-mode .btn-secondary {
    background-color: #bb86fc;
    border: none;
}

/* Centrar los elementos del menú en la versión de escritorio */
.navbar-nav {
    justify-content: center;
    width: 100%;
}

.navbar-nav .nav-item {
    margin: 0 10px; /* Espaciado entre elementos del menú */
}

/* Ajustes de imágenes para evitar que se salgan del contenedor */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Asegurar que el contenedor no cause overflow horizontal */
.container, .content-section {
    overflow-x: hidden;
}

/* Ajustes específicos para el layout de la página */
.content-section .row {
    flex-wrap: wrap;
}

.col-md-6 {
    padding: 15px;
}

.custom-carousel .carousel-caption-custom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.custom-carousel .carousel-caption-custom h3 {
    font-size: 2rem;
    color: #fff;
}

.custom-carousel .carousel-caption-custom p {
    font-size: 1.2rem;
    color: #ccc;
}

.custom-carousel .carousel-item {
    height: 70vh; /* Ajusta la altura del carrusel */
}

.custom-carousel .carousel-item video {
    object-fit: cover;
    height: 100%;
}

/* Ocultar texto en dispositivos móviles */
@media (max-width: 768px) {
    .custom-carousel .carousel-caption-custom {
        display: none;
    }
}
